* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  overflow: hidden;
}
body {
  position: relative;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  transition: background-color 1s ease-in-out;
  font-family: "Outfit", sans-serif;
}

.score-container {
  padding: 2% 2%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(12px, 3vw, 2rem);
}

.color-created {
  font-family: "quiroh", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: inline-block;
  position: absolute;
  animation-fill-mode: forwards;
  z-index: 1000;
  text-shadow: 1px 1px 2px black;
}
.animation-type1 {
  animation: color-grow1 5s linear 1;
}

@keyframes color-grow1 {
  0% {
    font-size: 14px;
  }
  80% {
    font-size: 160px;
  }
  100% {
    font-size: 14px;
  }
}

.splotch {
  position: absolute;
  border-radius: 50%;
  animation: splotch-animation 1s forwards;
  overflow: hidden;
  mix-blend-mode: color-burn;
  width: var(--splotch-size);
  height: var(--splotch-size);
  opacity: 50%;
}

@keyframes splotch-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.text-gameOver {
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 6rem);
  width: fit-content;
  color: red;
  z-index: 1;
}

.color-input {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-again-btn {
  font-size: clamp(14px, 4vw, 20px);
  display: none;
  padding: 10px 16px;
  width: fit-content;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.play-again-btn:hover {
  background-color: #45a049;
}
