body {
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
}

.color-created {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: absolute;
  animation-fill-mode: forwards;
  z-index: 1000;
  text-shadow: 1px 1px 2px black;
}
.animation-type1 {
  animation: color-grow1 5s linear 1;
}

.animation-type2 {
  animation: color-grow2 5s linear 1;
}
.animation-type3 {
  animation: color-grow3 5s linear 1;
}
.animation-type4 {
  animation: color-grow4 5s linear 1;
}
@keyframes color-grow1 {
  0% {
    font-size: 14px;
  }
  80% {
    font-size: 160px;
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes color-grow2 {
  0% {
    font-size: 14px;
  }
  80% {
    font-size: 160px;
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes color-grow3 {
  0% {
    font-size: 14px;
  }
  80% {
    font-size: 160px;
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes color-grow4 {
  0% {
    font-size: 14px;
  }
  80% {
    font-size: 160px;
  }
  100% {
    transform: rotate(-30deg);
  }
}
.splotch {
  position: absolute;
  background-color: inherit;
  border-radius: 50%;
  animation: splotch-animation 1s forwards;
  overflow: hidden;
  width: var(--splotch-size);
  height: var(--splotch-size);
  opacity: 50%;
}

@keyframes splotch-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  white-space: nowrap;
  color: red;
  z-index: 1;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
}

#scoreboard {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1000;
}

#colorInput {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#playAgainButton {
  font-size: 24px;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#playAgainButton:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

.changeColor {
  background-color: lightblue;
}

#startGame {
  font-size: 70px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 25px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#startGame:hover {
  background-color: #45a049;
}

#highScore {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1000;
}
