* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

@font-face {
  font-family: myFont;
  src: url(RubikDoodleShadow-Regular.ttf);
}

body {
  background-color: lightblue;
}
.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
}

.intro__text {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.intro__header {
  font-size: 10rem;
  font-family: myFont;
  font-weight: 800;

  background-image: linear-gradient(
    to right,
    rgb(221, 215, 198),
    rgb(218, 246, 215),
    rgb(249, 222, 237),
    rgb(196, 236, 253),
    rgb(249, 222, 237),
    rgb(218, 246, 215),
    rgb(221, 215, 198)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-size: 300%;
  animation: animate-gradient 10s linear infinite;
  color: black;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 30% 75%;
  }
  100% {
    background-position: 140% 50%;
  }
}

.intro__description {
  font-size: 2rem;
}

.intro__btn button {
  padding: 30px;
  border-radius: 20px;
  border: none;
  font-size: 1.6rem;
}

.intro__btn button {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  /* border: none; */
  font-size: 2rem;
  color: black;
  background: white;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  position: relative;
  font-weight: 100;
  /* transition: outline 0.2s ease; */
}

.intro__btn button:hover {
  background: none;
  transition: all 0.2s ease;
  letter-spacing: 3px;
  color: white;
}

.intro__btn button:hover:before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    rgb(221, 115, 198),
    rgb(188, 246, 215),
    rgb(255, 161, 213),
    rgb(25, 151, 205),
    rgb(188, 246, 215),
    rgb(255, 161, 213)
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: inherit;
  border: inherit;
  mask-image: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
@keyframes spin {
  to {
    --angle: 1turn;
  }
}
